#Terre {
  /* selecteur id "Terre"*/
  border: 5px double #b0f2f3; /* deux bordure blanche de taille 5 pixel */
  border-radius: 100%; /*permet de faire une bordure autour de la planete*/
}
.Image_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0px;
}

#Image1 {
  width: 50%;
}

@media only screen and (min-width: 430px) {
  /*Adaptation de la taille de la page entre téléphone et tablette*/
  .Container_grid {
    display: -ms-grid;
    display: grid; /*page sous format grille*/
    -ms-grid-columns: 10% 0px 10% 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 10% 10% 1fr 1fr 1fr; /*taille des colonnes*/
    -ms-grid-rows: -webkit-min-content 0px auto 0px 1fr 0px auto 0px auto;
    grid-template-rows: -webkit-min-content auto 1fr auto auto;
    -ms-grid-rows: min-content 0px auto 0px 1fr 0px auto 0px auto;
    grid-template-rows: min-content auto 1fr auto auto; /*taille des lignes*/
    gap: 0px 0px; /*pas d'ecart entre les cases de la grille*/
    grid-auto-flow: row;
        grid-template-areas:
      "Header_grid Header_grid Header_grid Header_grid Header_grid"
      "Main_grid Main_grid Main_grid Aside Aside"
      "Main_grid Main_grid Main_grid Image_grid Image_grid"
      "Main_grid Main_grid Main_grid Image_grid Image_grid"
      "Footer_grid Footer_grid Footer_grid Footer_grid Footer_grid";
  }
  .Header_grid {
    grid-area: Header_grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Footer_grid {
    grid-area: Footer_grid;
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  .Main_grid {
    grid-area: Main_grid;
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .Aside {
    grid-area: Aside;
    -ms-grid-row: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
  }

  .Image_grid {
    grid-area: Image_grid;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
  }

  .Image_1{
    margin: 10vw 0 25vw 0;
  }
}



@media only screen and (min-width: 984px) {
  .Image_grid > img {
    margin: 0;
  }

  .Image_1{
    margin: 15vw 0 25vw 0;
  }
}