#navbar{
    z-index: 5;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 72px;
  background: #19191c;
  color: #f9f9f9;
    background: -o-linear-gradient(
    135deg,
    #3a3939,
    #676665,
    #908f8e,
    #cfcdcc
  );
  background: linear-gradient(
    -45deg,
    #3a3939,
    #676665,
    #908f8e,
    #cfcdcc
  );
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
  border-radius: 0 0 50px 50px;
  -webkit-box-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px black;
}

  #footcont {/*contener pour un diplay grid de 4 footiem*/
    /*propriété footer*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    /*On utilise la même animation que dans la nav bar */
    background: -o-linear-gradient(
      135deg,
      #3a3939,
    #676665,
    #908f8e,
    #cfcdcc
    );
    background: linear-gradient(
      -45deg,
      #3a3939,
    #676665,
    #908f8e,
    #cfcdcc
    );
    background-size: 400% 400%;
    -webkit-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
    border-radius: 50px 0 0 0;
    -webkit-box-shadow: 0px 0px 20px black;
    box-shadow: 0px 0px 20px black;
  }
  @-webkit-keyframes gradient { /*Animation pour le background-linéaire*/
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #objet{
    background-color: rgb(88, 86, 84);
    -webkit-box-shadow: 0px 0px 15px #68625b;
            box-shadow: 0px 0px 15px #848281;
  }
  
  #objet:hover{ /*modification del'objet au survole de la souris*/
    background-color:rgb(151, 148, 145);
  }
  #formLetter input[type="submit"],#formLetter input[type="reset"]{ /*modification bouton envoyer et effacer*/
	font-weight:bold;
	color:white;
	background-color:#8f8d8c;
	border:2px solid #8b8988;
	margin:10px;
	padding:10px 20px; 
	width:auto;
	border-radius:10px;
	-webkit-box-shadow:2px 2px 5px #86817d;
	        box-shadow:2px 2px 5px #848280; 
 }

#formLetter input[type="submit"]:hover,#formLetter input[type="reset"]:hover{/*modification bouton envoyer et effacer au survole de la souris*/
	color:rgb(255, 255, 255);
	background-color:rgb(174, 172, 169);
	border:2px solid #60605f;
	-webkit-box-shadow: 2px 2px 5px rgb(0, 0, 0);
	        box-shadow: 2px 2px 5px rgb(0, 0, 0);
	cursor:pointer; /*On modifie l'apparence du curseur lors du survol des inputs*/
}
#bouton,#nom,#prenom,#pseudo,#email,#DateN,#pwd  { /*modification des inputs*/
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 2px solid #696765;
    border-radius: 7px;
    background-color: var(--violet-foncé);
    -webkit-box-shadow: 0px 0px 15px #979591;
            box-shadow: 0px 0px 15px #767471;
    padding: 10px;
    color: white;
    margin-top: 10px;
  }
  #description { /*modification de la partie ou on peut écrire sur le questionnaire  */
    width: 25%;
    height: 50px;
    margin-left: 10vw;
    display: block;
    background-color: #5e5d5d;
    border: solid 2px #908d88;
    -webkit-transition: width 1s ease-in-out, height 1s ease-in-out;
    -o-transition: width 1s ease-in-out, height 1s ease-in-out;/*on crée une transition avec les propriété width et height qui changent lors du focus*/
    transition: width 1s ease-in-out, height 1s ease-in-out;
  }
  
  #description:focus {
    outline: none;
    margin-left: 10vw;
    border: solid 2px #716e69;
    background-color: #8e8b86;
    color: white;
    width: 50%;
    height: 100px;
  }
  #table{
    position: relative;
      height: 100%;
      background: #242026;
      -webkit-box-shadow: 0 15px 25px #9e9b97;
              box-shadow: 0 15px 25px #7a7876;
      border-radius: 10px;
    }
    .th,.td{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 2px solid #878786;
    border-radius: 7px;
    background-color: var(--violet-foncé);
    -webkit-box-shadow: 0px 0px 15px #5e5d5c;
            box-shadow: 0px 0px 15px #858381;
    padding: 10px;
    color: white;
    margin-top: 10px;
    }
    #contener {
        /* selecteur id "contener"*/
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content; /* Permet de prendre toute la place sur la hauteur*/
        background: #242026; /*fond de couleur noir*/
        -webkit-box-shadow: 0 15px 25px rgb(125, 123, 119);
        box-shadow: 0 15px 25px rgb(133, 132, 130); /*Ombre en bordure de 0px a droite et en bas de 15px avec un effet de 25px et une couleur violette*/
        border-radius: 10px; /*Bordure arrondi de 10px*/
        color: aliceblue; /*couleur du texte blanc*/
      }