/*La plus part des styles sont directelent dans la page htlm,
comme on a utilisé un site on a voulu garder le format original*/

.WordSection1 {
  text-align: center; /*le texte est centré au milieu*/
}

@media only screen and (min-width: 430px) {
  /*Adaptation de la taille de la page entre téléphone et tablette*/
  .Container_grid {
    display: -ms-grid;
    display: grid; /*utilisation d'une grille*/
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*taille des colonnes*/
    -ms-grid-rows: -webkit-min-content 0px auto 0px 1fr 0px 1fr 0px 20%;
    -ms-grid-rows: min-content 0px auto 0px 1fr 0px 1fr 0px 20%;
    grid-template-rows: -webkit-min-content auto 1fr 1fr 20%;
    grid-template-rows: min-content auto 1fr 1fr 20%; /*taille des lignes*/
    gap: 0px 0px; /*il n'y pas ecart entre les differente partie*/
    grid-auto-flow: row;
    grid-template-areas:/*differentes parties de la grille*/
      "Header_grid Header_grid Header_grid Header_grid Header_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Footer_grid Footer_grid Footer_grid Footer_grid Footer_grid";
  }

  .Header_grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Footer_grid {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Main_grid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  .Aside {
    /*donne le nom de l'aside dans la grille*/
    grid-area: Aside;
    padding: 50% 5% 0 5%;
  }

  .Image_grid {
    /*donne le nom du image grid dans la grille*/
    grid-area: Image_grid;
    margin: 5vh 0vh;
  }
}

@media only screen and (min-width: 768px) {
  /*on change les dimensions pour les differentes appareil*/
  .Container_grid {
    /*Adapation de la taille pour les tablettes*/
    display: -ms-grid;
    display: grid; /*utilisation d'une grille*/
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*dimension des colognes*/
    -ms-grid-rows: -webkit-min-content 0px auto 0px 1fr 0px 1fr 0px 20%;
    -ms-grid-rows: min-content 0px auto 0px 1fr 0px 1fr 0px 20%;
    grid-template-rows: -webkit-min-content auto 1fr 1fr 20%;
    grid-template-rows: min-content auto 1fr 1fr 20%; /*dimension des ligne*/
    gap: 0px 0px; /*il n'y pas ecart entre les differente partie*/
    grid-auto-flow: row;
    grid-template-areas:/*differentes parties de la grille*/
      "Header_grid Header_grid Header_grid Header_grid Header_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Footer_grid Footer_grid Footer_grid Footer_grid Footer_grid";
    /*Afin d'étirer la balise sur l'ensemble du viewport: vh (Viewport Height)*/
  }

  .Header_grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Footer_grid {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Main_grid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  .Aside {
    /*donne le nom de l'aside dans la grille*/
    grid-area: Aside;
    padding: 50% 10% 0 10%;
  }

  .Image_grid {
    /*donne le nom du image grid dans la grille*/
    grid-area: Image_grid;
  }
  
}

@media only screen and (min-width: 984px) {
  /*on change les dimensions pour les differents appareil*/
  /*Adaptation de la taille pour un ordinateur*/
  .Container_grid {
    display: -ms-grid;
    display: grid; /*utilisation d'une grille*/
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*dimension des colognes*/
    -ms-grid-rows: -webkit-min-content 0px auto 0px 1fr 0px 55vh 0px auto;
    -ms-grid-rows: min-content 0px auto 0px 1fr 0px 55vh 0px auto;
    grid-template-rows: -webkit-min-content auto 1fr 55vh auto;
    grid-template-rows: min-content auto 1fr 55vh auto; /*dimension des ligne*/
    gap: 0px 0px; /*il n'y pas ecart entre les differente partie*/
    grid-auto-flow: row;
    grid-template-areas:/*differentes parties de la grille*/
      "Header_grid Header_grid Header_grid Header_grid Header_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Main_grid Main_grid Main_grid Main_grid Main_grid"
      "Footer_grid Footer_grid Footer_grid Footer_grid Footer_grid";
    /*Afin d'étirer la balise sur l'ensemble du viewport: vh (Viewport Height)*/
  }
  .Header_grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Footer_grid {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Main_grid {
    -ms-grid-row: 3;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
  .Aside {
    /*donne le nom de l'aside dans la grille*/
    grid-area: Aside;
    padding: 50% 2vw 0 2vw;
  }

  .Image_grid {
    /*donne le nom du image grid dans la grille*/
    grid-area: Image_grid;
  }
  
}





